* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

main {
    padding: 1.5rem 0;
}

.container {
    max-width: 800px;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.slider {
    position: relative;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: center;
}

.arrows {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 2rem;
    color: white;
}